@model CategoryModel

<a class="btn btn-primary" href="@Url.Action("GroupedCategory", "Query", new { category = Model.Category, table = Model.Table})" role="button">Group</a>
@{await Html.RenderPartialAsync("Nav/CategoryTab", Model); }
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @{sort("PostedDate", "Posted Date", Model);}
            </th>
            <th scope="col">
                @{sort("Category", "Category", Model);}
                
            </th>
            <th scope="col">
                @{sort("Description", "Description", Model);}
                
            </th>
            <th scope="col" style="width: 200px;">
                @{var amount = Model.Records.Sum(x => x.Amount);}
                @if (amount != null)
                {
                    <span>
                        <span> Sum: </span>  $@amount?.ToString("#.00")
                    </span>
                    <br />
                }
                @{sort("Amount", "Amount", Model);}
            </th>
        </tr>

        @{
            void sort(string filterBy, string label, NavModel nav)
            {
                <a href="@Url.Action(nav.Action, nav.Controller, new {
                        category = nav.Category,
                        filterBy = filterBy,
                        reverse = filterBy == Model.FilterBy ? Model.Reverse : false,
                        table = nav.Table})">
                    @label
                </a>
            }
        }
    </thead>
    <tbody>
        @foreach (var r in Model.Records)
        {
            <tr>
                <th scope="row">@r.PostedDate?.ToString("MM/dd/yyyy")</th>
                <td>
                    @foreach(var t in r.Category)
                    {
                        <a href="@Url.Action("SpecificName", "Query", new {name = t, table = Model.Table})"> @t</a>
                    }
                </td>
                <td>@r.Description</td>
                <td>@r.Amount</td>
            </tr>
        }
    </tbody>
</table>